---
import '/style.css'
import Card from '../components/card.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>


		<Card
				href="https://docs.astro.build/"
				title="Documentatifon"
				body="Learn how Astro Flavour works and explore the official API docs."
		/>




	</body>
</html>
